@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Banking App</h1>
        <p>View all Accounts <a href="../banks/Index">here</a></p>
        <p>Initiate a Transfer <a href="../transaction/Create">here</a></p>
        <p>View all Transactions <a href="../transaction/Index">here</a></p>

    </div>
